@model WebApp.Models.Cliente

@{
    ViewBag.Title = "Informações";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Dados do Cliente - @Html.DisplayFor(model => model.no_nomepes)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nome Completo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.no_nomepes)
        </dd>

        <dt>
            @Html.DisplayName("Data de Nascimento")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_nascime)
        </dd>

        <dt>
            @Html.DisplayName("CPF/CNPJ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ds_cpfcnpj)
        </dd>

        <dt>
            @Html.DisplayName("Dt. Cadastro")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_cadastr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.cd_codicli }) |
    @Html.ActionLink("Voltar", "Index")
</p>
