@model IEnumerable<WebApp.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Cadastrar novo Cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Código")
        </th>
        <th>
            @Html.DisplayName("Nome")
        </th>
        <th>
            @Html.DisplayName("Dt. Nascimento")
        </th>
        <th>
            @Html.DisplayName("CPF/CNPJ")
        </th>
        <th>
            @Html.DisplayName("Dt. Cadastro")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cd_codicli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.no_nomepes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_nascime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ds_cpfcnpj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_cadastr)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.cd_codicli }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.cd_codicli }) |
            @Html.ActionLink("Excluir", "Delete", new { id = item.cd_codicli })
        </td>
    </tr>
}

</table>
